<!doctype html>
<html>
<head>
<style>
  .input {display:flex;}
</style>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
  $(document).ready(function() {
    $('.js-example-basic-multiple').select2({
    });
});
</script>
</head>
<body>
  <div class="input">
    <form method="POST" action="/stats/">
      <label for="season">Season:</label>
      <input type="text" name="season" id="season" value="{{ default_season }}">
      <label for="player">Player:</label>
      <select class="js-example-basic-multiple" name="players[]" multiple="multiple" style="width: 300px;">
          {% for player in auto %}
          <option value="{{ player }}">{{ player }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="Add">
    </form>
  </div>
<table border="1" cellpadding="5" cellspacing="5">
  <tr>
    <th>season</th>
    <th>player name</th>
    <th>Teams</th>
    <th>GP</th>
    <th>MIN</th>
    <th>FGM</th>
    <th>FGA</th>
    <th>TPM</th>
    <th>TPA</th>
    <th>FTM</th>
    <th>FTA</th>
    <th>OREB</th>
    <th>DREB</th>
    <th>AST</th>
    <th>TOV</th>
    <th>STL</th>
    <th>BLK</th>
    <th>PF</th>
    <th>POINTS</th>
    <th>+/-</th>
        {% for row in value %}
        <tr>
           <td>{{ row.season }}</td>
           <td>{{ row.player_name }}</td>
           <td>{{ row.teams }}</td>
           <td>{{ row.gp }}</td>
           <td>{{ row.mins }}</td>
           <td>{{ row.fgm }}</td>
           <td>{{ row.fga }}</td>
           <td>{{ row.tpm }}</td>
           <td>{{ row.tpa }}</td>
           <td>{{ row.ftm }}</td>
           <td>{{ row.fta }}</td>
           <td>{{ row.oreb }}</td>
           <td>{{ row.dreb }}</td>
           <td>{{ row.ast }}</td>
           <td>{{ row.tov }}</td>
           <td>{{ row.stl }}</td>
           <td>{{ row.blk }}</td>
           <td>{{ row.pf }}</td>
           <td>{{ row.points }}</td>
           <td>{{ row.plus_minus }}</td>
        {% endfor %}
        </tr>
</table>
</body>
</html>
